{# empty Twig template #}
{% extends '::layout_peque.html.twig' %}
{% block body %}
    {% for type, flashMessage in app.session.flashbag.all() %}
        <div class="alert alert-{{ type }} fade in">
            <button class="close" data-dismiss="alert" type="button">×</button>
            {% if flashMessage.title is defined %}
            <strong>{{ flashMessage.title }}</strong>
            {{ flashMessage.message }}
            <audio src="{{asset('bundles/aac/sonidos/' ~ type ~ '.wav')}}" type="audio/wav" autoplay="true">
            {% else %}
            {{ type }}
            {% endif %}
        </div>
    {% endfor %}
<div class="col-md-11">
<h2>{{ titulo }}</h2>
<hr>

<table class="table table-striped table-bordered table-hover">
    <tr class="info">
        <th>id</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acciones</th>
    </tr>
    <tbody>
{% for entity in pagination %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.telefono }}</td>
                <td>
                    &nbsp;&nbsp;&nbsp;
                    <a class="glyphicon glyphicon-edit" 
                        href="{{ path('usuarios_modificar', { 'id': entity.id }) }}" 
                        title='Modificar Usuario -  {{ entity.nombre }}'></a>
                    &nbsp;&nbsp;&nbsp;
                    <a class="glyphicon glyphicon-trash" 
                       href="#eliminarUsuario" data-toggle="modal" pagina="1"
                       id="eliminar" name="{{ entity.nombre }}" borrar="{{ entity.id }}"
                       ruta="/eliminar/"
                       title='Eliminar Usuario - {{ entity.nombre }}'  ></a>                
                    &nbsp;&nbsp;&nbsp;
                    <a class="glyphicon glyphicon-eye-open" 
                        href="{{ path('usuarios_ver', { 'id': entity.id }) }}" 
                        title='Ver Usuario -  {{ entity.nombre }}' ></a>                
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    <div>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}